body {
    background-color: #badbad;
  }
  h1 {
    color: rgb(17, 0, 255);
    text-align: center;
  }
  p {
    color: rgb(83, 102, 0);
    font-size: 300%;
    font-style: italic;
    text-align: center;
  }
  #test {
    display: block;
    margin: auto;
    width: 100%;
  }
  