body {
    background-color: none;
  }
  h1 {
    color: rgb(0, 151, 139);
    text-align: center;
  }
  p {
    color: rgb(0, 0, 0);
    font-size: 300%;
    font-style: italic;
    text-align: center;
  }
  #test {
    display: block;
    margin: auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(202, 200, 200);
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
  }
  